$main-bg: url('../img/m-h-night.jpg') center (center/cover) no-repeat;
$body-bg-color: #21232E;
$first-prime-color: #FF4E33;
$second-prime-color: #E3AC00;
$back-color: #3B3F50;
$font-color: #fff;
$shadow-outer-color: rgb(170, 170, 170);
$shadow-inner-color: rgb(99, 99, 99);