$main-bg: url('../img/m-h-day.jpg') center (center/cover) no-repeat;
$body-bg-color: #fff;
$first-prime-color: #14A0C7;
$second-prime-color: #699900;
$back-color: #21232E;
$font-color: #2C2F3C;
$shadow-outer-color: rgb(39, 39, 39);
$shadow-inner-color: rgb(85, 85, 85);